@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Seymour+One&display=swap');

* {
  font-family: 'Jersey 10 Charted', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  overflow-x: hidden;
}

/* Whole app*/
body {
  background: var(--color-me);
}

/* Horizontal line */
hr {
  height: 6px;
  border: 0;
  border-top: 1px solid var(--color-tan);
  margin: 1em 0;
  padding: 0;
}
